// Global Styles

@import url(https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700);

body {
  margin:0;
  width: 100%;
  background: #303A45;
  font-family: "Montserrat", sans-serif;
  color:#e6e9ec;
  font-size: 0.875rem;
  line-height: 1.5;
  font-weight: 100;
  font-optical-sizing: auto;
  font-style: normal;
}

button {
  cursor: pointer;
  background: none;
  border: none;
}

div {
  font-family: "Montserrat", sans-serif;

  display: block;
  unicode-bidi: isolate;
}

text {
  font-family: "Montserrat", sans-serif;

  display: block;
  unicode-bidi: isolate;
}

li {
  display: list-item;
  text-align: -webkit-match-parent;
  unicode-bidi: isolate;
}

h4 {
  display: block;
  margin-block-start: 1.33em;
  margin-block-end: 1.33em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
  unicode-bidi: isolate;
}