@use '@styles/shared.scss';

.otcBox{
    margin-top: 0.8rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    font-weight: 500;

    .otcDescription{
        display: flex;
        align-items: center;
    
        .otcTokenName {
            text-transform: uppercase;
        
            margin-left: 1rem;
        }
        
        .otcTokenPhoto{
            width: 2rem;
            height: 2rem;
        }
    }

    button{
        background-color: black;
        font-family: inherit;
        color: white;
        border-radius: 0.5rem;
        width: 5.7rem;
        height: 1.3rem;
        margin-right: 1rem;
    }
}






