
.searchContainer{
    width: auto;
    margin: 1rem 1rem 1.5rem 1rem;

    .searchBox{
        height: 2rem;
        background-color: #192430;
        border-radius: 5rem;
        align-items: center;
        padding-left: 0.7rem;
        display: flex;
        justify-content: flex-start;
    
        .searchArea{
            margin-left: 0.7rem;
            max-width: 95%;
            width: calc(95% - 0.7rem);
            background: none;
            border: none;
            outline: none;
            color: white;
        
            font-family: inherit;
            font-weight: lighter;
        }
    }
}




