.sideBarArea {
  width: 260px;
  flex-shrink: 0;
  margin-top: 60px;
  // height: 100%;


  display: block;
}

.sideBarArea .sideBarBox {
  background-color: #192430;
  left: 0;
  width: 260px;
  height: 100%;
  position: relative;

  z-index: 2;
  box-shadow: 0;
}

.simplebarPlaceholder{
  width: auto;
  height: 45rem;
}

.simplebarOffset{
  height: auto;
  overflow: hidden;
}

