section.sidebar{
    background-color: #192430;
    color: #FFF;
    position: fixed;
    // left: 260px;
    width: 260px;
    height: 100%;
    top: 60px;
    left: 0;
    z-index: 5;
}

button.item{
  color: #FFF;
  opacity: 0.65;
  gap: 1rem;
  padding: 12px 5px 12px 12px;
  align-items: center;
  white-space: nowrap;
  display: flex;
  background-color: transparent;
  border: none;
  text-align: center;
}

.itemText{
}
